@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  display: grid;
  grid-template-rows: 8rem auto auto;
  grid-template-columns: auto;

}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  max-height: 7rem;
}


header .logo {
  width: 7rem;
  margin-top: 3px;
}

nav ul {
  list-style: none;
}

nav ul a {
  display: block;
  color: #666;
  font-weight: 600;
  text-decoration: none;
  padding: 1rem;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  background: #fff;
}

/* nav form {
  display: flex;
  align-items: center;
}

nav form input {
  height: 5rem;
}

nav .browser {
  border: solid 1px #6666;
  border-radius: 5px;
  width: 90%;
  height: 2rem;
  font-size: 1rem;
  color: #666;
  outline: none;
  padding: 0 20px;
}

nav .browser:focus {
  font-size: 2rem;
  transition: all .5s;
} */

/* nav label {
  font-size: 15px;
} */

nav ul li {
  position: relative;
  float: left;
}

nav ul li a:hover {
  color: #F25063;
}

nav form .icon {
  color: #666;
  font-size: 1.5rem;
  padding: 1rem;
}

nav .icon:hover {
  color: #F25063;
  cursor: pointer;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
}

nav ul ul li {
  float: none;
  width: 150px;
}

nav ul ul a {
  line-height: 120%;
  padding: 10px 15px;
  border-radius: 3px;
}

nav ul li:hover>ul {
  display: block;
  background: #fff;
}

nav .menu__ham {
  font-size: 30px;
  color: #666;
  float: right;
  line-height: 80px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width:1023px) {
  nav ul a {
    padding: 0.5rem;
    font-size: 12px;
  }
}

@media screen and (max-width:980px) {
  nav .menu__ham {
    display: block;
    margin-right: 1rem;
  }

  nav ul {
    background: #F25063;
    position: fixed;
    top: 80px;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  nav .menu__ham:hover {
    color: #f25063;

  }
}

@media screen and (max-width:360px) {
  nav .logo {
    max-width: 5rem;
    margin: 1rem;
  }
}

/* @media screen and (max-width:480px) {
  nav .browser {
    width: 85%;
  }
} */

.contactUs,
.aboutUs,
.log,
.reg,
.cart {
  margin-top: 10px;
}


/* .banner .banner__image {
  width: 100%;
} */

/* @media screen and (max-width:1023px) {
  .banner .banner__title {
    top: 300px;
  }

  .banner .banner__content {
    top: 400px;
    left: 100px;
  }
}

@media screen and (max-width:890px) {
  .banner .banner__title {
    top: 250px;
    font-size: 2rem;

  }

  .banner .banner__content {
    top: 300px;
    left: 70px;
    font-size: 1.5rem;
  } 
}*/

.heading {
  text-align: center;
  background: #F25063;
}

.heading h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
}

.heading p {
  color: #fff;
  padding-top: .7rem;
  font-size: 1.4rem;
}

.heading p a {
  color: #fff;
}

.heading p a:hover {
  color: #000;
}

@media screen and (max-width:1023px) {
  .heading {
    margin-top: 5px;
  }

  .heading p h1 {
    font-size: 2rem;
  }

}

.produts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.produts .produts__title {
  width: 100%;
  background: #f25063;
  color: #fff;
  height: 5rem;
  text-align: center;
  padding-top: .7rem;
  font-size: 1.7rem;
}

.produts .container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  flex-wrap: wrap;

}

.produts .card {
  border-radius: .5rem;
  text-align: center;
  border: 1px solid #333;
  padding: 1rem;
  margin: 1rem;
  width: 20rem;
}

/* .card .card__image {
  border-radius: .5rem;
  overflow: hidden;
  position: relative;
  max-height: 40rem;
  width: 100%;
} */

/* .card .card__image img {
  width: 95%;
  padding: 1rem;
} */

/* .card .card__content {
  padding-top: 1rem;
  padding-bottom: 1rem;
} */

/* .card .card__content h3 {
  font-size: 1rem;
  color: #333;
} */

.card .card__starts {
  padding: 1rem 0;
  color: #F25063;
}

.card:hover {
  transform: scaleX(1.1);
  transition: all .2s;
}

.about {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  flex-wrap: wrap;
}

.about h1 {
  text-align: center;
}

.about .container {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem;
  width: 100%;
}

/* .about .about__image {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
} */

.about .about__image img {
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
}

.about .about__content {
  padding-top: 5rem;
  padding-bottom: 1rem;
  font-weight: 300;
  line-height: 2rem;
  font-size: 1.2rem;
  width: 100%
}

.about .about__content h3 {
  margin: 1rem;
}

.about .about__content p {
  margin: 1rem;
  text-align: justify;
}

.btn--about {
  display: inline-block;
  padding: .8rem 2rem;
  font-size: 1.5rem;
  color: #000;
  border: 1px solid #000;
  background: none;
  cursor: pointer;
  border-radius: .5rem;
  margin: 2rem;
  text-decoration: none;
}

.btn--about:hover {
  background: #000;
  color: #fff;
}

.icons__container {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem;
  width: 100%;
}

.icons__container .icon {
  padding: 3rem 2rem;
  border-radius: .5rem;
  border: 0.2rem solid #333;
  text-align: center;
  cursor: pointer;
  margin: 2rem;
}

.icons__container .icon img {
  width: 60%;
}

.icons__container .icon h3 {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1.5rem;
}

.icons__container .icon:hover {
  transform: scaleX(1.1);
  background: #333;
  color: #fff;
  transition: all .2s;
}

.icons__container .icon:hover img {
  filter: invert(1);
  transition: all .2s;
}

@media screen and (max-width: 1023px) {
  .about .container {
    flex-direction: column;
    align-items: center;
  }

}

@media screen and (max-width:980px) {
  .about .container {
    padding: 2rem 2rem;
    font-weight: 300;
    line-height: 2rem;
  }

  .icons__container {
    flex-direction: column;
  }

  .icons__container .icon {
    margin: 2rem;
  }

  .icons__container .icon img {
    width: 25%;
  }

  .icons__container .icon h3 {
    font-size: 2rem;
    font-weight: 400;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem 9%;
  width: 100%;
  align-items: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: .5rem;
  border: 0.1rem solid #333;
  width: 90%;
}

.contact form input,
textarea {
  border-bottom: .1rem solid #333;
  margin-bottom: 1rem;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.5rem;
  color: #666;
  text-transform: none;
  width: 90%;
  border-radius: 3px;
}

.contact textarea {
  width: 90%;
  height: 200px;
}

.contact iframe {
  width: 90%;
  height: 500px;
  margin-top: 3rem;
  border-radius: 5px;
}

.contact iframe:hover {
  transform: scale(1.1);
  transition: all .3s;
}

.contact form .btn {
  width: 90%;
}

.account__form {
  margin: 5rem auto;
  max-width: 40rem;
  border-radius: .5rem;
  border: 0.1rem solid #333;
  padding: 2rem;
  text-align: center;
}

.account__form h3 {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #333;
  margin-bottom: .7rem;
}

/* .account__form .input__form {
  margin: 1rem;
  display: flex;
  border-radius: .3rem;
  padding: .5rem 1rem;
  align-items: center;
  border: solid 2px #000; 
}*/

/* .account__form .input__form input {
  font-size: 1.5rem;
  border-radius: .5rem;
} */

/* span {
  margin-right: 1rem;
} */

/* .account__form .btn__form {
  padding: 1rem;
}

.account__form .register__btn input,
a {
  margin: .5rem;
} */

@media screen and (max-width:520px) {
  .account__form {
    width: 100%;
  }

  .account__form .input__form input {
    width: 100%;
  }
}

@media screen and (max-width:480px) {
  .account__form {
    width: 30rem;
  }
}

@media screen and (max-width:380px) {
  .account__form {
    width: 25rem;
  }
}

.cart .card__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.cart .card__container .cart__card {
  border-radius: .5rem;
  border: .1rem solid #333;
  padding: 3rem 2rem;
  position: relative;
  display: flex;
  align-content: center;
  gap: 1.5rem;
}

.cart .card__container .cart__card i {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: #666;
}

.cart .card__container .cart__card img {
  height: 10rem;
}

.cart .card__container .cart__card img:hover {
  transform: scale(1.1);
  transition: all .2S;
}

.cart .card__container.cart__card h3 {
  font-size: 1.7rem;
  padding-bottom: .5rem;
  color: #333;
}

.cart .card__container .cart__card span {
  color: #666;
  font-size: 1.5rem;
}

.cart .card__container .cart__card .cart__card__price span {
  color: #666;
  font-size: 1.5rem;
  text-decoration: line-through;
}

.cart .card__container .cart__card form input {
  width: 8rem;
  font-size: 1.5rem;
  color: #666;
  padding: .5rem 1rem;
  border-radius: .5rem;
  background: #eee;
}

.cart .card__container .cart__card .cart__card__price {
  font-size: 2rem;
  color: #333;
}

.cart .cart__title {
  font-size: 3rem;
  color: #333;
  margin: 3rem;
  text-align: center;
  padding: 0 1rem;
}

.cart__total {
  padding: 2rem;
  border-radius: .5rem;
  border: 0.1rem solid #333;
}

.cart__total h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #333;
}

.cart__total span {
  color: #f25063;
}

@media screen and (max-width:480px) {
  .cart .card__container .cart__card {
    width: 85%;
  }

  .cart__total {
    width: 90%;
  }
}

.btn {
  display: inline-block;
  padding: .5rem 2rem;
  font-size: 1.6rem;
  color: #000;
  border: 1px solid #000;
  background: none;
  cursor: pointer;
  border-radius: .5rem;
  text-decoration: none;
  margin: 1rem;
}

.btn:hover {
  background: #000;
  color: #fff;
}

footer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

footer .links__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  flex-wrap: wrap;
}

footer .links .links__title {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 1rem;
  text-align: center;
  padding: 0 1rem;
}

footer .links li {
  display: block;
  list-style: none;
  margin: 1rem;
}

footer .links li a {
  text-decoration: none;
  font-size: 1rem;
  color: #333;
}

footer .links li a:hover {
  color: #F25063;
  padding-left: 5%;
  transition: all .2s;
}

footer .links li i {
  margin-right: .5rem;
}

footer .footer__form {
  display: flex;
  flex-direction: column;
}

footer .footer__form__title {
  font-size: 1.5rem;
  color: #666;
}

footer .footer__form__content {
  font-size: 1rem;
  text-transform: none;
  margin-top: 1rem;
}

footer form input[type="email"] {
  width: 100%;
  height: 20px;
  padding: 1rem 1.2rem;
  border-radius: .5rem;
  background: #eee;
  font-size: 1.6rem;
  text-transform: none;
  margin-top: 1rem;
}

footer .btn--form {
  display: inline-block;
  font-size: 1rem;
  color: #000;
  border: 1px solid #000;
  background: none;
  cursor: pointer;
  border-radius: .5rem;
  width: 25%;
  height: 30px;
  text-align: center;
  margin-top: 1rem;
}

footer .btn--form:hover {
  background: #000;
  color: #fff;
}

@media screen and (max-width:480px) {
  footer form input[type="email"] {
    font-size: 1rem;
  }

}

@media screen and (max-width:320px) {
  footer form input[type="email"] {
    font-size: 0.8rem;
  }

  footer .footer__form {
    margin-top: 2rem;
  }
}